* {
  font-family: 'Source Sans Pro', sans-serif;
}

.about-main {
  width: 100%; 

  /* border: solid 2px red;  */
}

.about-hero {
  background: #212529;
  color: #d8f3e2;
  text-align: center; 
  padding-top: 6rem; 
  padding-bottom: 6rem; 

  /* border: solid 2px red; */
}

.about-title {
  color: #74aa50;
  /* font-size: 1.75rem; */
  font-size: calc(1.34375rem + 1.125vw);
  letter-spacing: 0.035em;
  font-weight: 600;
  line-height: 1.5;
}

.about-desc {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Source Sans Pro', sans-serif;

  line-height: 1.7;
}

.about-row {
  display: flex; 
  /* justify-content: space-between;  */
  align-items: stretch; 
  gap: 0; 
  /* flex-wrap: wrap; */

  margin: 10px 10%;

  /* border: solid 2px blue;  */
}

.about-image,
.about-box {
  flex: 1 1 50%; /* each takes 50% of row */
  display: flex;
  flex-direction: column; 
  justify-content: center; 

  /* border: solid 2px red;   */
}

.about-mascot {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  object-fit: cover; /* keeps aspect ratio but fills space */
}

.about-green-box,
.about-dark-box {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  padding: 2.2rem 2.2rem;
}

.about-green-box {
  background: #74aa50; 
  color: #fff;
  align-items: flex-start;
  font-size: 1.15rem;
  font-weight: 400;
  box-sizing: border-box; 
}

.about-green-box h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.7rem;

  align-self: center;
}

.about-green-box p {
  margin-bottom: 1.2rem;
  margin-top: 0;
  color: #fff;
  font-size: 0.9rem;
}

.about-green-box ul {
  color: #fff;
  padding-left: 1.2rem;
  margin: 0;
}

.about-green-box li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.about-dark-box {
  background: #23272a;
  color: #fff;
  padding: 2.2rem 2rem 2.2rem 2rem;
  min-width: 320px;
  min-height: 250px;
  font-size: 1.15rem;
  font-weight: 400;
  box-sizing: border-box;
}

.about-dark-box h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
  margin-top: 0;
  align-self: center;
}

.about-dark-box ul {
  color: #fff;
  padding-left: 1.2rem;
  margin: 0;
}

.about-dark-box li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

@media (max-width: 900px) {
  .about-row {
    flex-direction: column;
    gap: 1.5rem;
  }
  .about-col {
    min-width: 0;
  }
  .about-green-box, .about-dark-box {
    padding: 1.5rem 1rem;
  }
}